---

import Container from '../../layouts/container/container.astro';
import './articles.css';
---

<Container>
  <div class="articles-container">
    <article class="stack">
      <h1>Testing Stack</h1>
      <p>Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </article>
    <article class="stack">
      <h1>Testing Stack with last child</h1>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      <p>Etiam porta sem malesuada magna mollis euismod.</p>
    </article>
    <article class="stack">
      <h1>Phoney</h1>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </article>
  </div>
</Container>