---
import Container from '../../layouts/container/container.astro';
import './articles.css';
---

<Container>
  <h2 class="center">The Stack in The Box</h2>
  <div class="articles-container">
    <article class="stack box">
      <h3>Stack</h3>
      <p>The Stack layout primitive injects margin between elements via their common parent.</p>
      <p>The trick is to style the context, not the individual element(s).</p>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    </article>
    <article class="stack-small box">
      <h3>Stack Small</h3>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
    </article>
    <article class="stack-large box invert">
      <h3>Stack Large & Inverted Colours</h3>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh</p>
    </article>
  </div>
</Container>