---
import Container from '../layouts/container.astro';
import Center from '../layouts/center.astro';
import Box from '../layouts/box.astro';
import Switcher from '../layouts/switcher.astro';
import AspectRatio from '../layouts/aspect-ratio.astro';
---
<style>
  article {
    flex: 1;
    padding: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
  }
  article h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
</style>

<Container>
  <Center>
    <h2>
      The Stack in The Box 📦
    </h2>
    <p>
      Testing Stack within Box in a Switcher Layout
    </p>
  </Center>
  <Switcher>
    <Box>
      <article>
        <h3>
          <a href="#">
            Stack
          </a>
        </h3>
        <AspectRatio>
          <img src="https://placeimg.com/500/320/animals" alt="Screenshot" />
        </AspectRatio>
        <p>The Stack layout primitive injects margin between elements via their common parent.</p>
        <p>The trick is to style the context, not the individual element(s).</p>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </article>
    </Box>
    <Box>
      <article class="stack-small">
        <h3>
          <a href="#">
            Stack Small
          </a>
        </h3>
        <p>The Stack layout primitive injects margin between elements via their common parent.</p>
        <p>The trick is to style the context, not the individual element(s).</p>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </article>
    </Box>
    <Box>
      <article class="stack-large">
        <h3>
          <a href="#">
            Stack Large
          </a>
        </h3>
        <p>The Stack layout primitive injects margin between elements via their common parent.</p>
        <p>The trick is to style the context, not the individual element(s).</p>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      </article>
    </Box>
  </Switcher>
</Container>