---
import Container from "../layouts/container.astro";
import Center from "../layouts/center.astro";
import Grid from "../layouts/grid.astro";

import planet_icon from '../../public/icons/saturn.svg';

const planets = [
  {
    name: "Mercury",
    distance: 0.3,
    src: planet_icon
  },
  {
    name: "Venus",
    distance: 0.7,
    src: planet_icon
  },
  {
    name: "Mars",
    distance: 2,
    src: planet_icon
  },
  {
    name: "Saturn",
    distance: 6.29,
    src: planet_icon
  },
  {
    name: "Jupiter",
    distance: 5,
    src: planet_icon
  },
];
---
<style>
  img {
    min-height: 4rem;
    min-width: 4rem;
    height: auto;
    width: auto;
    max-height: 6rem;
    max-width: 6rem;
  }
</style>
<Container>
  <Center>
    <h2>Features 🦄</h2>
    <p>Testing Grid Layout</p>
  </Center>
  <Grid>
    {planets.map(({ name, distance, src}) => (
      <div>
        <img src={src} alt={name} />
          <h4>
            {name}
          </h4>
          <p>
            The distance is: {distance}
          </p>
      </div>
    ))}
  </Grid>
</Container>