---
import Container from "../layouts/container.astro";
import Center from "../layouts/center.astro";
import Grid from "../layouts/grid.astro";

---
<Container>
  <Center>
    <h2>Features 🦄</h2>
    <p>Testing Grid Layout here</p>
  </Center>
  <Grid>
    {[1, 2, 3, 4, 5].map((num) => (
      <span>
        {/* add hover */}
        <div>
          <span>
            <img alt="Astro Logo" />
            </span>
            <h4>
              No Dependencies
          </h4>
        </div>
      </span>
    ))}
  </Grid>
</Container>