---
import Container from "../layouts/container.astro";
import Center from "../layouts/center.astro";
import Grid from "../layouts/grid.astro";
---
<style>
  img {
    min-height: 4rem;
    min-width: 4rem;
    height: auto;
    width: auto;
    max-height: 6rem;
    max-width: 6rem;
  }
</style>
<Container>
  <Center>
    <h2>Features 🦄</h2>
    <p>Testing Grid Layout here</p>
  </Center>
  <Grid>
    {[1, 2, 3, 4, 5].map((num) => (
      <div>
        <img src="../../public/icons/saturn.svg" alt="Astro Logo" />
          <h4>
            Look at this planet dude!
          </h4>
          <p>
            Some important stuff comes here sponsored by number: {num}
          </p>
        </div>
    ))}
  </Grid>
</Container>