---
import Container from '../layouts/container.astro';
import Center from '../layouts/center.astro';
import Reel from '../layouts/reel.astro';

const pictures = [
  {
    src: 'https://unsplash.it/150/150?image=931',
    author: 'Paul Earle',
  },
  {
    src: 'https://unsplash.it/150/150?image=974',
    author: 'John Towner',
  },
  {
    src: 'https://unsplash.it/150/150?image=979',
    author: 'Liane Metzler',
  },
  {
    src: 'https://unsplash.it/150/150?image=984',
    author: 'Greg Rakozy',
  },
  {
    src: 'https://unsplash.it/150/150?image=997',
    author: 'Sven Scheuermeier',
  },
  {
    src: 'https://unsplash.it/150/150?image=888',
    author: 'Alberto Restifo',
  }
];
---
<style>
/* 
  .gallery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-content: space-around;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
  } 
  figcaption {
    display: block;
    position: absolute;
    text-align: center;
    color: white;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
    bottom: 0px;
    width: 100%;
    padding: 4px;
  } 
  figure {
    display: block;
    position: relative;
    margin: 0;
    height: 150px;
    flex: 0 150px;
  } 
  */
</style>

<Container>
  <Center>
    <h2>
      Nice Pictures 🖼️
    </h2>
    <p>
      Testing Reel here 😺
    </p>
  </Center>
  <Reel>
    {pictures.map(({src, author}) => (
      <figure>
        <img src={src} alt={author} />
        <figcaption>{author}</figcaption>
      </figure>
    ))}
  </Reel>
</Container>