---
import Container from '../layouts/container.astro';
---
<style>
.gallery-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-content: space-around;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}
figure {
  display: block;
  position: relative;
  margin: 0;
  height: 150px;
  flex: 0 150px;
}
figcaption {
  display: block;
  position: absolute;
  text-align: center;
  color: white;
  box-sizing: border-box;
  background: rgba(0,0,0,0.5);
  bottom: 0px;
  width: 100%;
  padding: 4px;
}
</style>

<Container>
  <div class="gallery-section">
    <figure>
      <img src="https://unsplash.it/150/150?image=931" width="150" height="150" alt="random image"/>
      <figcaption>Paul Earle</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=974" width="150" height="150" alt="Greg Rakozy"/>
      <figcaption>Greg Rakozy</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=973" width="150" height="150" alt="Cameron Kirby"/>
      <figcaption>Cameron Kirby</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=965" width="150" height="150" alt="Liane Metzler"/>
      <figcaption>Liane Metzler</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=961" width="150" height="150" alt="Sven Scheuermeier"/>
      <figcaption>Sven Scheuermeier</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=966" width="150" height="150" alt="Alberto Restifo"/>
      <figcaption>Alberto Restifo</figcaption>
    </figure>
  </div>
</Container>