---
import Container from '../layouts/container.astro';
import Center from '../layouts/center.astro';
import Sidebar from '../layouts/sidebar.astro';
import Icon from '../layouts/icon.astro';
---
<Container>
  <Center>
    <h2>Subscribe 📮</h2>
    <p>Testing Sidebar, CSS components and form 🤠</p>
  </Center>
  <form action="/">
    <label for="email2">Enter your email:</label>
    <Sidebar>
      <input id="email2" name="email" type="email" />
      <button type="submit">
        <Icon>
          Subscribe
        </Icon>
      </button>
    </Sidebar>
  </form>
</Container>