---
import Container from '../../layouts/container/container.astro';
import './subscribe.css';
---

<Container>
  <h2>Subscribe</h2>
  <p>You're going to want in on this!</p>
  <form action="/">
    <label for="email2">Enter your email:</label>
    <input id="email2" name="email" type="email" />
    <button type="submit">
      Subscribe
    </button>
  </form>
</Container>