---
import './navigation.css';
---
<header>
  <a href="/">
    <span>Logo</span>
  </a>
  <nav>
    <ul class="cluster">
      <li>
        <a href="#">
          About
        </a>
      </li>
      <li>
        <a href="#">
          Preact
        </a>
      </li>
      <li>
        <a href="/markdown">
          Markdown
        </a>
      </li>
    </ul>
  </nav>
</header>
