
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
}
.nav-bar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nav-bar a {
  text-decoration: none;
}
.nav-bar a:hover {
  color: blueviolet;
}
