---
import App from "../layouts/app.astro";
import Container from "../layouts/container.astro";
import Sidebar from "../layouts/sidebar.astro";
---

<App title="Post test">
  <Container>
    <Sidebar>
      <div>
        <h3>sidebar</h3>
      </div>
      <div>
        <h2>Post Title</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor tortor vitae
          felis rutrum pharetra. Maecenas sit amet hendrerit lacus. Mauris dui metus, volutpat
          nec nec pretium sit amet, fringilla id mi. Maecenas vehicula ut tellus sit amet finibus.
          Nullam euismod metus sed orci elementum vestibulum. Aenean vitae faucibus mauris.
          Praesent vitae metus consequat, lobortis lorem nec, ornare ante. Sed in pretium odio.
          Duis sit amet est ac libero tristique iaculis eu pharetra odio. Nulla et porttitor
          quam, in convallis nisl. Mauris lacinia condimentum neque vel rutrum. Duis id sapien
          aliquet, vulputate turpis at, consequat sem. Pellentesque quam dui, dignissim vitae
          risus aliquam, pharetra egestas nibh.
        </p>
      </div>
    </Sidebar>
  </Container>
</App>