---
import Container from '../../layouts/container/container.astro';
import './gallery.css';
---

<Container>
  <div class="gallery-section">
    <figure>
      <img src="https://unsplash.it/150/150?image=931" width="150" height="150" alt="random image"/>
      <figcaption>Paul Earle</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=974" width="150" height="150" alt="Greg Rakozy"/>
      <figcaption>Greg Rakozy</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=973" width="150" height="150" alt="Cameron Kirby"/>
      <figcaption>Cameron Kirby</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=965" width="150" height="150" alt="Liane Metzler"/>
      <figcaption>Liane Metzler</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=961" width="150" height="150" alt="Sven Scheuermeier"/>
      <figcaption>Sven Scheuermeier</figcaption>
    </figure>
    <figure>
      <img src="https://unsplash.it/150/150?image=966" width="150" height="150" alt="Alberto Restifo"/>
      <figcaption>Alberto Restifo</figcaption>
    </figure>
  </div>
</Container>